<div class="digitales-dot-gg">
   <div class="logo text-center">
     <%=image_tag("text1129.png", alt: "d i g i t a l e s . g g")%>
   </div>
</div>
<div style="height: 200px; background-color: black; margin-top: 0px; padding-top: 0px;" class="d-flex flex-column justify-content-start"><h4 class="p-3 container gg-button text-center gg-title w-100">a revolutionnary way to create, produce, and consume fiction</h4></div>
<section class="section-1">
    <svg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>
    <div class="container"><h1>who we are</h1>
    <p class="w-50"><em>'d i g i t a l e s . g g (good game) : a silent uprising'</em> is a <b>crowdfunding platform</b> meant to become the place to be for hardcore daydreamers in order to meet artists being able to turn their craziest story ideas into novels, webcomics, and even 3D short movies and VR works of fiction.</p>
</div>
</section>
<section class="section-2">
    <svg xmlns='http://www.w3.org/2000/svg' fill='#FFFFFF' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>
    <div class="d-flex flex-row justify-content-around">
        <div class="container d-flex flex-column justify-content-around" style="margin: auto;">
            <i class="gg-title text-center fas fa-5x fa-user-astronaut"></i>
            <h1 class="text-center mb-5 gg-title">What is a creatrix?</h1>
            <p class="gg-title mb-5 text-center">By signing up to our website, you become a creatrix and as such, you are being offered four main opportunities:</p>
            <div class="w-100 d-flex justify-content-around" style="margin: auto;">
                <div class="d-flex flex-column align-items-center">
                    <i class="gg-title fas fa-3x fa-globe mb-3"></i>
                    <p class="gg-title">to dive into a pool of 12 random digitales</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <i class="gg-title fas fa-3x fa-star mb-1"></i>
                    <p class="gg-title">to create a digitale</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <i class="gg-title fas fa-3x fa-film mb-3"></i>
                    <p class="gg-title">to ask or to provide creative microservices in exchange of money</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <i class="gg-title fas fa-3x fa-hand-holding-usd mb-3"></i>
                    <p class="gg-title">to support a specific digitale on its page</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section-3">
    <svg xmlns='http://www.w3.org/2000/svg' fill='#80B1F4' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>
        <div class="container d-flex flex-column justify-content-around" style="margin: auto;">
        <i class="gg-title text-center fas fa-5x fa-star"></i>
        <h1 class="gg-title mb-5 text-center">What is a digitale?</h1>
        <p class="gg-title text-center">It is a brand new way to tell a story. Storytellers of the past have written outstanding books, storyteller of the present are mostly shooting movies and TV series...</p>
        <h4 class="gg-title mb-3 text-center"><b>...but future storytellers will create digitales.</b></h4>
        <p class="gg-title text-center">For now, it is the result of a very intuitive 3-steps process to develop a production-ready story idea in less than 2 minutes.</p>

        <div class="d-flex flex-column justify-content-between m-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-center" style="width: 20vw;">
                    <i class="gg-title mb-3 fas text-center fa-3x fa-atlas"></i>
                    <p class="gg-title text-center">By giving your digitale a title...</p>
                </div>
                <div></div>
                <div></div>
            </div>
            <div class="d-flex justify-content-between">
                <div></div>
                <div class="d-flex flex-column justify-content-center" style="width: 20vw;">
                    <i class="gg-title mb-3 fas text-center fa-3x fa-question"></i>
                    <p class="gg-title text-center">...by asking yourself a 'what if...?' type of question...</p>
                </div>
                <div></div>
            </div>
            <div class="d-flex justify-content-between">
                <div></div>
                <div></div>
                <div class="d-flex flex-column justify-content-center" style="width: 20vw;">
                    <i class="gg-title mb-3 fas text-center fa-3x fa-exclamation"></i>
                    <p class="gg-title text-center">...and by making 7 statements about what might or might not happen...</p>
                </div>
            </div>
        </div>

        <p class="gg-title text-center">...you create a meaningful roadmap for other creatrixes to help turn your dreams into reality through a game-changing system of achievements.</p>
    </div> 
</section>
<section class="section-4">
    <svg xmlns='http://www.w3.org/2000/svg' fill='#EBA01D' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>
        <div class="container d-flex flex-column justify-content-around" style="margin: auto;">
        <i class="gg-title text-center fas fa-5x fa-film"></i>
        <h1 class="gg-title text-center">What is an achievement? What is a microservice?</h1>
        <p class="gg-title text-center">Achievements are a series of several necessary steps a work of fiction has to take in order to turn into a full blown independent multimedia franchise.</p>
        <p class="gg-title text-center">Microservices are the jobs a creatrix can hire another one for in order to fulfill these achievements.</p>
    </div>
<section class="section-5">
    <h1>The footer</h1>
    <p>A test paragraph.</p>
    <br/>
    <br/>
    <br/>
    <br/>