
<div id='stars' style=''></div>
<div id='stars2' style=''></div>
<div id='stars3' style=''></div>
<div class="w-100 text-center" style='margin-top:300px'>
  <h1 class='drift'>DIVE IN</h1>
</div>
<div class="bg-black d-flex flex-wrap justify-content-around"id='node_container'>
  <% 36.times do %>
    <%=render "nodes/card"%>
  <% end %>
</div>
