
  
<div>

  <div id='stars' class="holy" style=''></div>
  <div id='stars2' class="holy" style=''></div>
  <div id='stars3' class="holy" style=''></div>  
  <div class="w-100 text-center" style='margin-top:300px'>
    <h1 class='drift gg-title'>DIVE IN</h1>
    <h3 class="drift gg-label">Look for the digitale that will blow your mind, and creep in.</h3>
    <h4 class="drift gg-label">(Or create your own.)</h4>
    <div id="node-sticky">
        <%= link_to new_node_path, :action => 'go' do %>
        <div class="row m-auto"><i class="gg-title fas fa-star fa-2x"></i>
        <div class="add-a-node m-auto"> <p> c r e a t e </p> </div>
        <%end%>
    </div>
  </div>
  <div class="bg-black d-flex flex-wrap justify-content-around"id='node_container'>
    <% 12.times do %>
      <%= render partial: "card", locals: { digitale: digitales.sample } %>
    <% end %>
  </div>
</div>