  <% node = @node if @node %>

<div class="card text-white bg-dark" >
  
  <div class="card-body">  
    <h4 class="card-title"><%= node.title %></h4>
    <p class="card-text"><%= node.content %></p>
  </div>

</div>