<div id="profile-block">

    <div id="in-page-links">
        <div><a href="#microservices"> My microservices </a> </div>
        <div><a href="#fundraising-block"> Fundraisings </a> </div>
        <div><a href="#my-creations-block"> My creations </a> </div>
        <div><a href="#my-participations-block"> My participations </a> </div>
    </div>

    <div id="avatar">
        <img alt="image" class="img-fluid" id="avatar-image" src="https://f4.bcbits.com/img/0006103509_10.jpg">
        <h1>Emeroun GOUNVOULLE</h1>
        <p class="lead">Ici on aura peut etre une petite description, vous en pensez quoi?</p>    
    </div>
    
    <div id="creatrix-details">
        <h3>My details: </h3>
        <p><strong> Email address </strong>: emerounelbaboon@gmail.com </p>
        <p><strong> First name </strong>: Emeroune </p>
        <p><strong> Surname </strong>: El Baboon  <a class="btn btn-secondary float-right" href="https://www.google.com">Edit my details</a></p>
    </div>        
</div>

<div id="microservices">
    <section class="fdb-block" id="test">
        <div class="container">
            <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left p-5">
                <h1>My microservices</h1>
                <div class="row">
                    <div class="mt-3">
                        <h5> Artwork design </h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-3">
                        <h5> Artwork design </h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
                <div class="row pt-8">
                    <div class="mt-3">
                        <h5> Artwork design </h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
                 <div class="row pt-8">
                    <div class="mt-3">
                         <p><a class="btn btn-secondary" href="https://www.google.com">See all</a> <a class="btn btn-secondary ml-2" href="https://www.google.com">Edit my microservices</a></p>
                    </div>
                </div>
                
            </div>

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid" src="https://f4.bcbits.com/img/0006103509_10.jpg">
            </div>
            </div>
        </div>
    </section>
</div>

<div id="fundraising-block">
    <section class="fdb-block">
        <div class="container">
            <h1>Fundraisings</h1>
            <div class="row text-left mt-5 justify-content-between">
            <div class="col-6">
                <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                <h2>My fundraisings (10)</h2>
                <br>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                </div>
            </div>

            <div class="col-6">
                <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                <h2>My contributions (8)</h2>
                <br>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                <h3>Petite pastèque en fleur</h3>
                <h6>Artwork creation</h6>
                <p>Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.</p>
                <p><a href="https://www.google.com">Read more</a></p>
                </div>
            </div>
            
            </div>
        </div>
    </section>
</div>

<div id="my-creations-block">
    <section class="fdb-block">
        <div class="container">
            <h1>My creations</h1>
            <div class="row text-left mt-5 justify-content-between">
                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>

                 <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>

                  <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
</div>

<div id="my-participations-block">
    <section class="fdb-block">
        <div class="container">
            <h1>My participations</h1>
            <div class="row text-left mt-5 justify-content-between">
                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

                 <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>


                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

            
            </div>
        </div>
    </section>
</div>

