console.log("destroy")
console.log("<%=@microservice.microservice_category.id%>")
document.getElementById("microservice_category#<%=@microservice.microservice_category.id%>").innerHTML = "<div class='alert alert-danger'>Microservice has ben deleted</div>"