body {
    background-color: #1E1E1E;

}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
    }

p, a {
    font-family: 'Marcellus', sans-serif;
}