.masonry-grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    padding: 100px;
}

#masonry-card {
    margin: 0 8px 8px 0;
    width: 320px;
    min-height: 250px;
    max-height: 800px;
    padding: 38px;
    flex: auto;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: floralwhite;
}

#masonry-card:hover {
    background-color: #014455b9;
    border-width: 2px;
}

#masonry-card-button {
    float: right;
}

.Tale {
    background-color: #002b36a6;
    border-color: #2aa19777;
}

.WhatIf {
    background-color: #14485567;
    border-radius: 0.25rem;
    border-color: #2aa198;
}

.Setting {
    background-color: #00161b9c;
    border-radius: 0.25rem;
    border-color: #d33682;
}

.MStatement {
    background-color: #03001d6e;
    border-radius: 0.25rem;
    border-color: #ffb5d779;
}

.Digit {
    background-color: #19003641;
    border-radius: 0.25rem;
    border-color: #fffde779;
}

a:hover 
{
    color: #ffffff;
    text-decoration: underline;
}

.panel-title {
    position: relative;
  }
    
.panel-title::after {
      content: "\f107";
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-family: "FontAwesome"
  }
  
.panel-title[aria-expanded="true"]::after {
      content: "\f106";
  }

div.sticky {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30px;
    width: 190px;
    position: sticky;
    bottom: 90px;
    left: 1200px;
    text-align: center;
}


.fa-plus-circle {
    color: rgb(255, 255, 255);
    padding: 20px;
}

.fa-plus-circle:hover {
    color: #2aa198;
}

.add-a-node:hover {
    color: #2aa198;
}

div.sticky h6 {
    color: rgb(153, 153, 153);
    padding-top: 20px;
}

.center-title {
    position: relative;
    height: 350px;
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    padding-top: 150px;
}