body {
    margin: 0;
    padding: 0;
    font-family: '', sans-serif;
    margin-top: 110px;
}

.masonry-grid {
    margin: 80px auto;
    columns: 3;
    column-gap: 20px;
    margin-left: 100px;
    margin-bottom: 120px;
    margin-right: auto;
    background-color: darkslategray;
}