body {
    margin: 0;
    padding: 0;
    margin-top: 110px;
}

.masonry-flex {
    display: flex;
    align-items: center;
}

.masonry-grid {
    margin-left: auto;
    margin-right: auto;
    columns: 3;
    padding: 100px 0 100px 0;
    overflow: hidden;
    column-gap: 2em;
}

#masonry-card {
    margin: 50 45px 50 45px;
    max-width: 400px;
    min-height: 250px;
    max-height: 800px;
    padding: 38px;
    display: grid;
    grid-gap: 40px;
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: floralwhite;
}

#masonry-card:hover {
    background-color: #014455b9;
    border-width: 2px;
}

#masonry-card-button {
    float: right;
}

.Tale {
    background-color: #002b36a6;
    border-color: #2aa19777;
    text-emphasis: text;
}

.WhatIf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    border-radius: 0.25rem;
    border-color: #2aa198;
    background-color: #002b3685;
}

.Setting {
    background-color: #002b36a6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    border-radius: 0.25rem;
    border-color: #d33682;
}

a:hover 
{
    color: #2aa198;
    text-decoration: underline;
}

.panel-title {
    position: relative;
  }
    
.panel-title::after {
      content: "\f107";
      font-size: 20px;
      color: rgb(255, 255, 255);
      
      font-family: "FontAwesome"
  }
  
.panel-title[aria-expanded="true"]::after {
      content: "\f106";
  }