.affix {
  weight: 100%;
  background-color: #eee;
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out;
}

navbar-expand-lg {
  background-color: #eee;
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out;
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
  color: white;
  font-family: 'Gotu', sans-serif;
}

section {
  height: calc(90% - 50px);
  height: 90vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}

.sticky+.content {
  padding-top: 60px;
}