html,body {
    height:100%;
  }
  
  .affix {
    weight:100%;
    background-color: #eee;
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;
    -o-transition:padding 0.2s ease-out;
    transition:padding 0.2s ease-out;
  }
  
  navbar-expand-lg {
    background-color: #eee;
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;
    -o-transition:padding 0.2s ease-out;
    transition:padding 0.2s ease-out;
  }
  
  nav .navbar-nav .nav-link,
  nav .navbar-brand {
     color: rgb(69, 27, 255);
  }
  
  section {
    height:calc(90% - 50px);
    height: 90vh;
  }

.navbar {
  padding: 15px 35px 15px 35px;
  margin-block-end: 500px;
}

nav.navbar{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-inverse {
   background-color: #222;
   border-color: #080808;
}

nav.navbar.transparent {
 background-color:rgba(0,0,0,0);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}

.sticky + .content {
  padding-top: 60px;
}