#root_body{
    height: 3000px;
}

.wait{
  z-index: -1
}

.drift{
  position: relative;
  animation-name: drifting;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes drifting {
  0%   {
      top:0px;
      opacity: 0;
    }
  3%   {
    opacity: 1;
  }
  95%   {
    opacity: 1;
  }
  100%  {
    opacity: 0;
    top:-8000px;
  }
}

#node-sticky {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.068);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 130px;
  width: 130px;
  position: sticky;
  top: 75%;
  left: 45%;
  text-align: center;
  z-index: 2;
}

.fa-star {
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.add-a-node:hover {
  color: #2aa198;
  
}

div.sticky6 h6 {
  color: rgb(153, 153, 153);
  padding-top: 20px;
}

#chevron-down:hover {
  text-shadow: 0px 0px 6px white;
}


