#root_body{
    height: 3000px;
}

.wait{
  z-index: -1
}

.drift{
  position: relative;
  animation-name: drifting;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes drifting {
  0%   {
      top:0px;
      opacity: 0;
    }
  3%   {
    opacity: 1;
  }
  95%   {
    opacity: 1;
  }
  100%  {
    opacity: 0;
    top:-8000px;
  }
}
