<%= form_tag donated_sums_path do %>
  <div>
    <article>
      <% if flash_error.present? %>
        <div id="error_explanation">
          <p><%= flash_error %></p>
        </div>
      <% end %>
      <label class="amount">
        <span><%= (sum/100).ceil(2) %> </span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="btn btn-primary"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A donated sum"
            data-amount="500"
            data-locale="auto">pay with stripe
    </script>
  </div>
<% end %>