     <% case microservice_request.microservice_category.media_type%>
     <% when "image"%>
        <%= image_tag microservice_request.picture, alt: 'picture', class: "border rounded"%>
     <% when "video"%>
      <%=microservice_request.youtube.html_safe %>
     <% when "sound"%>
      <%= microservice_request.soundcloude.html_safe  %>
     <% when "text"%>
      <div class='card'>
      <%= microservice_request.quill.html_safe %>
      </div>
     <%end%>