<div class="gg-digitale-card">
<div class='h3 text-center alert alert-success'>Digitale created succesfully</div><br>
<div class='d-flex flex-column align-content-center'>
<%= link_to "See your new digitale" , digitale_path(digitale.id), class: "btn gg-button mb-3" %>
<%= link_to "Make youre first microservice request for your tales" , node_microservices_path(digitale.nodes.first.id), class: "btn gg-button" %>
</div>
</div>