<h4>Welcome to DigiTales, <%= @author %>.<h4>

<h2>Your adventure begins now. You life changes today. Your soul will be mine tomorrow. Sorry, I am getting a little confused. I have sent too many emails today.
</h2>