<h1>Dear <% @author %>,</h1>

<h4>I have seen your project called <% @node %>. It caught my eye. It was uncanny, unexpected and unwise. Yes, it was unwise. It is unwise to propose such a story. 
It will blow everybody's mind. It is just like the Bible. It will create, peace, conquest, belief and perhaps, love. 
I will invest through crowdfunding to show your art to the world. Be ready because your life changes today.
Thank you <% @author %> !</h4>