<h1>Dear <% @author %>,</h1>

<h4>We are here to respond to your <% @microserice_request %>. And ... drum roll ... Your request has been accepted ! 
WE have viewed your Node called @node.title. I was very interesting, deep, smart, funny, inspiring etc... 
There are not enough compliments in teh English language to show how good your story was. Thank you for sharing it with us on DigiTales. 
I bet it will crush all the numbers. You definitely have a chance to become the next Arthur Conan Doyle.</h4>

