<div class="divider holy padding-top-footer-divider">
          <svg fill="#00000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg" data-src="/packs/vendor/leap/pages/assets/img/dividers/divider-2-631ef50f46c3851bbff14c48201921be.svg">
              <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
          </svg>
          </div>

<footer class="fdb-block footer-large bg-black footer-opacity"> 

          <br>
          <br>
      <div class="col">
        <ul class="nav justify-content-center holy">
          <li class="nav-item">
          </li>
            <%= link_to "The nodes", nodes_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "Add a node", new_node_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if creatrix_signed_in? %>
              <%= link_to "My account", creatrix_path(current_creatrix.id), class: "nav-link" %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="row text-center mt-3">
        <div class="col">
          <h5>Digitales</h5>
        </div>
        <br>
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          <p class="lead holy">

        </div>
    </div>
</footer>