<div class='mb-5'>
  <nav id="navbar" class="navbar navbar-expand-lg d-flex justify-content-between navbar-inverse navbar-fixed-top sticky" data-spy="affix">
  <a class="navbar-brand" href="/">Website</a>	
  <a href="/" class="navbar-brand">Brand</a>
  <a class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
    </ul>
    <ul class="ml-auto navbar-nav">
    <% if creatrix_signed_in? %>

                <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mon compte connecte
                              </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                 <%= link_to "Mon profil", creatrix_path(current_creatrix.id), class: "dropdown-item", style: "color: white;" %>
                <%= link_to "Se déconnecter", destroy_creatrix_session_path, method: :delete, class: "dropdown-item", style: "color: white;" %>
                </div>

              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                  </a>

                  

                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Connexion ", new_creatrix_session_path, class: "dropdown-item" %>
                    <%= link_to "Inscription", new_creatrix_registration_path, class: "dropdown-item" %>
                  </div>
                </li>
              <% end %>
    </ul>
  </div>
  </nav>
</div>